   
    <!-- Content of the page -->
    <div class="container" style="padding-top: 90px" ng-controller="driversStandingsController">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr><th colspan="4">Drivers Championship Standings - 2013</th></tr>
                    <tr>
                        <th>Position</th>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="driver in driversList | filter: searchFilter">
                        <td style="vertical-align:middle" ng-cloak>{{$index + 1}}.</td>
                        <td style="vertical-align:middle">
                            <a href="#/drivers/{{driver.Driver.driverId}}" ng-cloak>
                                <img src="img/flags/flags/32/{{driver.Driver.nationality}}.png" style="margin-right: 8px">{{driver.Driver.givenName}}&nbsp;{{driver.Driver.familyName}}
                            </a>
                        </td> 
                        <td style="vertical-align:middle" ng-cloak>{{driver.Constructors[0].name}}</td>
                        <td style="vertical-align:middle" ng-cloak> 
                            <span class="badge" ng-cloak>{{driver.points}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- HISTOGRAM -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong><h4>Histogram: Driver standings of season 2013</h4></strong>
                </div>
                <div class="row">
                    <div id="chartdiv"></div>
                </div>
            </div>
        </div>
    </div>
  
    <script type="text/javascript">

        $(function() {

            var chartData = []; 
            var colors = [
                "#FF0F00", "#FF6600", "#FF9E01", "#FCD202", "#F8FF01", "#B0DE09", "#04D215", "#0D8ECF", "#0D52D1",
                "#2A0CD0", "#8A0CCF", "#CD0D74", "#754DEB", "#DDDDDD", "#999999", "#333333", "#000000", "#0045D0",
                "#04E0D1", "#0560D0", "#000EFF", "#0FF0E0", "#F6DF00"
            ];

            var url = 'http://ergast.com/api/f1/2013/driverStandings.json?callback=JSON_CALLBACK';
            
            $.ajax({
                type: 'GET',
                url: url,
                async: false,
                jsonpCallback: 'jsonCallback',
                contentType: "application/json",
                dataType: 'jsonp',
                success: function(json) {
                    var data = json.MRData.StandingsTable.StandingsLists[0].DriverStandings;
                    for(var i = 0; i<data.length; i++){
                      var driver = {
                        driverName : data[i].Driver.givenName + " " + data[i].Driver.familyName,
                        points : data[i].points
                      };
                        chartData.push(driver);
                    }

                    for(var j=0; j<chartData.length; j++){
                      chartData[j].color = colors[j];
                    }

                    // CHART
                    var chart;
                    // Serial chart
                    chart = new AmCharts.AmSerialChart();
                    chart.startDuration = 5;
                    chart.dataProvider = chartData;
                    chart.categoryField = "driverName";
                    // The following two lines makes chart 3D
                    chart.depth3D = 20;
                    chart.angle = 30;

                    // AXES
                    // Category
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.labelRotation = 70;
                    categoryAxis.dashLength = 5;
                    categoryAxis.gridPosition = "start";

                    // Value
                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.title = "Points";
                    valueAxis.dashLength = 5;
                    chart.addValueAxis(valueAxis);

                    // Graph
                    var graph = new AmCharts.AmGraph();
                    
                    graph.valueField = "points";
                    graph.colorField = "color";
                    graph.balloonText = "<span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>";
                    graph.type = "column";
                    graph.lineAlpha = 0;
                    graph.fillAlphas = 1;
                    chart.addGraph(graph);

                    // Cursor
                    var chartCursor = new AmCharts.ChartCursor();
                    chartCursor.cursorAlpha = 0;
                    chartCursor.zoomable = false;
                    chartCursor.categoryBalloonEnabled = false;
                    chart.addChartCursor(chartCursor);

                    chart.creditsPosition = "top-right";

                    // WRITE
                    chart.write("chartdiv");
                },
                error: function(e) {
                    console.log(e.message);
                }
            });           
        });

    </script>