      <div class="container">
	   <br></br><br></br><br></br>
      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>

          <div class="row">
		  
            <div class="col-6 col-sm-6 col-lg-4">
              <h3>{{Novice[0].title}}</h3>
			  <img src={{Novice[0].picture}} alt="some_text"  width="100%" height="148x">  
			  </br></br>
              <p>{{Novice[0].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
            <div class="col-6 col-sm-6 col-lg-4">
              <h3>{{Novice[1].title}}</h3>
			  <img src={{Novice[1].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[1].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
            <div class="col-6 col-sm-6 col-lg-4">
              <h3>{{Novice[2].title}}</h3>
			  
			 <img src={{Novice[2].picture}} alt="some_text"  width="100%" height="148x"> 
			 </br></br>
              <p>{{Novice[2].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
            <div class="col-6 col-sm-6 col-lg-4">
              <h3>{{Novice[3].title}}</h3>
			  <img src={{Novice[3].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[3].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
            <div class="col-6 col-sm-6 col-lg-4">
              <h3>{{Novice[4].title}}</h3>
			 <img src={{Novice[4].picture}} alt="some_text"  width="100%" height="148x"> 
			 </br></br>
              <p>{{Novice[4].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
            <div class="col-6 col-sm-6 col-lg-4">
               <h3>{{Novice[5].title}}</h3>
			  <img src={{Novice[5].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[5].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
			 <div class="col-6 col-sm-6 col-lg-4">
               <h3>{{Novice[6].title}}</h3>
			  <img src={{Novice[6].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[6].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
			<div class="col-6 col-sm-6 col-lg-4">
               <h3>{{Novice[7].title}}</h3>
			  <img src={{Novice[7].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[7].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
			 <div class="col-6 col-sm-6 col-lg-4">
               <h3>{{Novice[8].title}}</h3>
			  <img src={{Novice[8].picture}} alt="some_text"  width="100%" height="148x"> 
			  </br></br>
              <p>{{Novice[8].opis}}</p>
              <p><a class="btn btn-default" href="#" role="button">Read more... &raquo;</a></p>
			  <hr>
            </div><!--/span-->
			
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>
      <footer>
        <p>&copy;SportScience 2014</p>
      </footer>
    </div><!--/.container-->