

<!-- Content of the page -->
<div class="container" style="padding-top: 90px" ng-app="stats">

    <!-- SELECT SEASON, RACE, DRIVER -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Options</h4>
    </div>
        <div class="row">
          <br>
              <div class="col-md-4">
                Season: &nbsp;<select name="" id="select_season" onchange="getRaces()">
                </select>
              </div>
          <div class="col-md-4">
                Race: <select name="" id="select_race">
                    
                      </select>

          </div>
          <div class="col-md-4"></div>

        </div>

        <div class="row">
         
          <div class="col-md-4"><p class="places"></p></div>
          <div class="col-md-4"><p class="places"></p></div>
          <div class="col-md-4"><p class="places"></p></div>

        </div>

    </div>
     

    <!-- HEAD TO HEAD -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Lap Times Head To Head</h4>
    </div>
        <div class="table-responsive">
          <table  class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>LAP</th>
                      <!-- DRIVER 1 -->
                      <th>
                        <select name="" id="driver1"></select>

                      </th>
                      <!-- DRIVER 2 -->
                      <th>
                        <select name="" id="driver2"></select>

                      </th>
                      <th>+/-</th>
                      <!-- <th>GAP</th> -->
                  </tr>
                  <tbody id="head_to_head"></tbody>
              </thead>
              <tbody id="head_to_head">
                 
              </tbody>
          </table>

    </div>
    </div>
    <br>
    
<!-- FASTEST LAPS -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Fastest Laps</h4>
    </div>
       <div>
        <div  class="table-responsive">
          <table  class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>Position</th>
                      <th>Driver</th>
                      <th>Race position</th>
                      <th>Lap</th>
                      <th>Time</th>
                  </tr>
              </thead>
              <tbody id="table_fastest_laps">
                  
              </tbody>
          </table>
        </div></div>
        <div id="fastest_laps_chart"  style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>

    </div>
    <br>
    <!-- PIT STOPS -->
    <div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">Pit Stops</h4>
    </div>
      <div>
        <div class="table-responsive">
          <table  class="table table-striped table-bordered">
              <thead>
                  <tr>
                      <th>Position</th>
                      <th>Driver</th>
                      <th>Stop</th>
                      <th>Lap</th>
                      <th>Duration</th>
                  </tr>
              </thead>
              <tbody id="table_pit_stops">
                 
              </tbody>
          </table>
      </div>

      <div id="pit_stops_chart" style="width: 100%; height: 400px; background-color: #FFFFFF;" ></div>
          


    </div>

    </div>

    

</div><!-- /.container -->

<script src="js/scripts/trophy-icons.js"></script>
<script>

    $(function(){

        //drivers for first race in 2011
        var drivers = [
        {driverId: 1, name : "Lewis Hamilton"},
        {driverId: 2, name : "Heidfeld Nick"},
        {driverId: 3, name : "Nico Rosberg"},
        {driverId: 4, name : "Fernando Alonso"},
        {driverId: 5, name : "Heikki Kovalainen"},
        {driverId: 10, name : "Timo Glock"},
        {driverId: 13, name : "Felipe Massa"},
        {driverId: 15, name : "Jarno Trulli"},
        {driverId: 16, name : "Adrian Sutil"},
        {driverId: 17, name : "Mark Webber"},

        {driverId: 18, name : "Jenson Button"},
        {driverId: 20, name : "Sebastian Vettel"},
        {driverId: 22, name : "Rubens Barrichello"},
        {driverId: 30, name : "Michael Schumacher"},
        {driverId: 67, name : "Sebastien Buemi"},
        {driverId: 153, name : "Jaime Alguersuari"},
        {driverId: 155, name : "Kamui Kobayashi"},
        {driverId: 808, name : "Vitaly Petrov"},
        {driverId: 813, name : "Pastor Maldonado"},
        {driverId: 814, name : "Paul di Resta"},

        {driverId: 815, name : "Sergio Perez"},
        {driverId: 816, name : "Jerome d'Ambrosio"}

        ];

        var race = 1;
        var season = 2011;
        var rounds = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10,", "11",
                        "12", "13", "14", "15", "16", "17", "18", "19"
                     ];

        var races = [
        "Australian Grand Prix",
        "Malaysian Grand Prix", 
        "Chinese Grand Prix",
        "Turkish Grand Prix",
        "Spanish Grand Prix",
        "Monaco Grand Prix",
        "Canadian Grand Prix",
        "European Grand Prix",
        "British Grand Prix",
        "German Grand Prix",
        "Hungarian Grand Prix",
        "Belgian Grand Prix",
        "Italian Grand Prix",
        "Singapore Grand Prix",
        "Japanese Grand Prix",
        "Korean Grand Prix",
        "Indian Grand Prix",
        "Abu Dhabi Grand Prix",
        "Brazilian Grand Prix"

        ];



        var current_year = new Date().getFullYear();
        for(var i=2011; i<=current_year-1; i++){
            $('#select_season').append($('<option>', {
                value : i,
                text : i
                }
            ));


        }

        for(var j = 0; j<rounds.length; j++){
            $('#select_race').append($('<option>', {
                value : rounds[j],
                text : races[j]
                }
            ));
        }

        for(var k = 0; k<drivers.length; k++){
          $('#driver1').append(
              $('<option>',{
                value : drivers[k].driverId,
                text : drivers[k].name
                }
                )
            );
        }

        for(var h = drivers.length-1; h>=0; h-- ){
          $('#driver2').append(
              $('<option>',{
                value : drivers[h].driverId,
                text : drivers[h].name
                }
                )
            );
        }



        var year = $('#select_season').val();
        var round = $('#select_race').val();

        $('#select_race').on('change', function(){
                    race = $('#select_race').val();
                    season = $("#select_season").val();
                    //console.log(race);
                    //console.log(season);

                   $('#driver1').empty();
                   $('#driver2').empty();
                   $('#head_to_head').empty();
                   $('#table_fastest_laps').empty();
                   $('#fastest_laps_chart').empty();

                   $('#table_pit_stops').empty();
                   $('#pit_stops_chart').empty();


                   $.when(
                      $.ajax({
            type: 'GET',
            url:'fastest_laps_param.php',
            contentType: "application/json",
            data: {round: race, year : season},
            dataType: 'json',
            success: function(json) {
                data = json;
                var chartData = [];
                //console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_fastest_laps').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Position + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Time + "</td>"  +"</tr>");
                  var driver = {
                    driverName: data[i].FirstName + " " + data[i].LastName,
                    driverLastName : data[i].LastName,
                    time: data[i].Time,
                    milliseconds: data[i].Milliseconds,
                    code: data[i].Code
                  };
                  chartData.push(driver);
                }
                  
                  
                  //graf fastest laps
                   // CHART
                   AmCharts.makeChart("fastest_laps_chart",
                {
                  "type": "serial",
                  "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                  "categoryField": "code",
                  "startDuration": 5,
                  "theme": "light",
                  "categoryAxis": {
                    "gridPosition": "start"
                  },
                  "trendLines": [],
                  "graphs": [
                    {
                      "balloonText": "[[driverName]]: [[time]]",
                      "bullet": "round",
                      "id": "AmGraph-1",
                      "title": "",
                      "valueField": "milliseconds"
                    }
                  ],
                  "guides": [],
                  "valueAxes": [
                    {
                      "id": "ValueAxis-1",
                      "title": "Time (ms)"
                    }
                  ],
                  "allLabels": [],
                  "balloon": {},
                  "legend": {
                    "useGraphSettings": true
                  },
                  "titles": [
                    {
                      "id": "Title-1",
                      "size": 15,
                      "text": "Fastest laps"
                    }
                  ],
                  "dataProvider": chartData
                }
              );
                   
             
                
                },error: function(e) {
                    console.log(e.message);
              }
          }),
            $.ajax({
            type: 'GET',
            url:'pit_stops_param.php',
            contentType: "application/json",
            data : {round: race, year : season},
            dataType: 'json',
            success: function(json) {
                data = json;
                //console.log("Pit stops: " +data.length);
                var dataChart = [];
              //  console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_pit_stops').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Stop + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Duration + "</td>"  +"</tr>");

                  var driver = {
                    driverName : data[i].FirstName + " " + data[i].LastName,
                    duration : data[i].Duration,
                    code : data[i].Code,
                    driverLastName : data[i].LastName,
                    stop : data[i].Stop
                  };

                  dataChart.push(driver);

                }


                //chart, pit Stops
                 AmCharts.makeChart("pit_stops_chart",
            {
              "type": "serial",
              "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
              "categoryField": "code",
              "startDuration": 5,
              "categoryAxis": {
                "gridPosition": "start"
              },
              "trendLines": [],
              "graphs": [
                {
                  "balloonText": "[[driverName]]: [[duration]] sec.",
                  "fillAlphas": 1,
                  "id": "Fastest pit",
                  "title": "Fastest pit stop",
                  "type": "column",
                  "valueField": "duration"
                },
                {
                  "balloonText": "[[driverName]]: [[stop]]",
                  "fillAlphas": 1,
                  "id": "AmGraph-2",
                  "title": "Number of pit stops",
                  "type": "column",
                  "valueField": "stop"
                }
              ],
              "guides": [],
              "valueAxes": [
                {
                  "id": "ValueAxis-1",
                  "title": "Duration (sec)"
                }
              ],
              "allLabels": [],
              "balloon": {},
              "legend": {
                "useGraphSettings": true
              },
              "titles": [
                {
                  "id": "Title-1",
                  "size": 15,
                  "text": "Pit stops"
                }
              ],
              "dataProvider": dataChart
            }
          );

              
               
             },error: function(e) {
                    console.log(e.message);
              }

                

            }),
            
            $.ajax({
            type: 'GET',
            url:'head_to_head_select_year.php',
            contentType: "application/json",
            data: {season : season, round: race},
            dataType: 'json',
            success: function(json) {
                data1 = json['drivers'];
                data2 = json['laptimes1'];
                data3 = json['laptimes2'];
                 console.log(data2.length + " " + data2[0].Milliseconds);
                console.log(data3.length + " " + data3[0].Milliseconds);
                
                $('#driver1').empty();
                $('#driver2').empty();

                for(var k = 0; k<data1.length; k++){
                $('#driver1').append(
                    $('<option>',{
                      value : data1[k].driverId,
                      text : data1[k].FirstName + " " + data1[k].LastName
                      }
                      )
                  );
              }

                for(var h = data1.length-1; h>=0; h-- ){
                  $('#driver2').append(
                      $('<option>',{
                        value : data1[h].driverId,
                        text : data1[h].FirstName + " " + data1[h].LastName
                        }
                        )
                    );
                }


              $('#head_to_head').empty();
              
               var razlikaDolzine;
               var plusMinus;
               var velikostManjse;

              //če je prvi array krajši od drugega
               if(data2.length > data3.length){
                velikostManjse = data3.length;
                razlikaDolzine = data2.length - data3.length;
                //sprehod čez krajšega
                for(var i=0; i<data3.length; i++){
                  if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                    plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                    console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                    console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                    $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                  }
                  if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                      plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                      $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }
                  if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                      plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                      $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }


                }
                //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                  $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                }

               }else if(data2.length < data3.length){
                velikostManjse = data2.length;
                      razlikaDolzine = data3.length - data2.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                       $('#head_to_head').append('<tr><td>'+data3[j].Lap+'</td><td>' +'- - -'+ '</td><td style="color:green;">' + data3[j].Time+ '</td><td>'+'- -'+'</td></tr>');
                      }

               }else{
                  velikostManjse = data2.length;
                      razlikaDolzine = data2.length - data3.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                        $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                      }

               }
                
                

                
              
               
             },error: function(e) {
                    console.log(e.message);
              }

                

            })
          )
            
            
                   
                });


        //fastest laps za 2011, Australian GP prvi prikaz strani
        $.when(
        $.ajax({
            type: 'GET',
            url:'fastest_laps.php',
            contentType: "application/json",
            dataType: 'json',
            success: function(json) {
                data = json;
                var chartData = [];
                console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_fastest_laps').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Position + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Time + "</td>"  +"</tr>");
                  var driver = {
                    driverName: data[i].FirstName + " " + data[i].LastName,
                    driverLastName : data[i].LastName,
                    time: data[i].Time,
                    milliseconds: data[i].Milliseconds,
                    code: data[i].Code
                  };
                  chartData.push(driver);
                }
                  
                  
                  //graf fastest laps
                   // CHART
                   AmCharts.makeChart("fastest_laps_chart",
                {
                  "type": "serial",
                  "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                  "categoryField": "code",
                  "startDuration": 5,
                  "theme": "light",
                  "categoryAxis": {
                    "gridPosition": "start"
                  },
                  "trendLines": [],
                  "graphs": [
                    {
                      "balloonText": "[[driverName]]: [[time]]",
                      "bullet": "round",
                      "id": "AmGraph-1",
                      "title": "",
                      "valueField": "milliseconds"
                    }
                  ],
                  "guides": [],
                  "valueAxes": [
                    {
                      "id": "ValueAxis-1",
                      "title": "Time (ms)"
                    }
                  ],
                  "allLabels": [],
                  "balloon": {},
                  "legend": {
                    "useGraphSettings": true
                  },
                  "titles": [
                    {
                      "id": "Title-1",
                      "size": 15,
                      "text": "Fastest laps"
                    }
                  ],
                  "dataProvider": chartData
                }
              );
                   
                    

                
                },error: function(e) {
                    console.log(e.message);
              }
          }),

            $.ajax({
            type: 'GET',
            url:'pit_stops.php',
            contentType: "application/json",
            dataType: 'json',
            success: function(json) {
                data = json;
                var dataChart = [];
                console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_pit_stops').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Stop + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Duration + "</td>"  +"</tr>");

                  var driver = {
                    driverName : data[i].FirstName + " " + data[i].LastName,
                    duration : data[i].Duration,
                    code : data[i].Code,
                    driverLastName : data[i].LastName,
                    stop : data[i].Stop
                  };

                  dataChart.push(driver);

                }


                //chart, pit Stops
                 AmCharts.makeChart("pit_stops_chart",
            {
              "type": "serial",
              "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
              "categoryField": "code",
              "startDuration": 5,
              "categoryAxis": {
                "gridPosition": "start"
              },
              "trendLines": [],
              "graphs": [
                {
                  "balloonText": "[[driverName]]: [[duration]] sec.",
                  "fillAlphas": 1,
                  "id": "Fastest pit",
                  "title": "Fastest pit stop",
                  "type": "column",
                  "valueField": "duration"
                },
                {
                  "balloonText": "[[driverName]]: [[stop]]",
                  "fillAlphas": 1,
                  "id": "AmGraph-2",
                  "title": "Number of pit stops",
                  "type": "column",
                  "valueField": "stop"
                }
              ],
              "guides": [],
              "valueAxes": [
                {
                  "id": "ValueAxis-1",
                  "title": "Duration (sec)"
                }
              ],
              "allLabels": [],
              "balloon": {},
              "legend": {
                "useGraphSettings": true
              },
              "titles": [
                {
                  "id": "Title-1",
                  "size": 15,
                  "text": "Pit stops"
                }
              ],
              "dataProvider": dataChart
            }
          );
          
              
               
             },error: function(e) {
                    console.log(e.message);
              }

                

            }),

            //////////////////////////////////////////////////////////////////////////////////////////////////////

            /*
            fake = [1,2,3,4,5,6,7,8,9,10];
            fake2 = [2,3,5,61,2,4,7,9,14];
            var razlika;
            var vsota;

            for(var i=0; i<fake.length; i++){
              if(fake[i] < fake2[i]){
                razlika = fake2[i] - fake[i];
                $('#head_to_head').append('<tr><td>'+i+'</td><td style="color:green;">' + fake[i]+ '</td><td style="color:red;">' + fake2[i]+ '</td><td>'+razlika+'</td></tr>')
              }else if(fake[i] > fake2[i]){
                razlika = fake[i] - fake2[i];
                $('#head_to_head').append('<tr><td>'+i+'</td><td style="color:red;">' + fake[i]+ '</td><td style="color:green;">' + fake2[i]+ '</td><td>'+razlika+'</td></tr>')
              }else{
                razlika = fake2[i] - fake[i];
                $('#head_to_head').append('<tr><td>'+i+'</td><td style="color:green;">' + fake[i]+ '</td><td style="color:green;">' + fake2[i]+ '</td><td>'+razlika+'</td></tr>')
              }
            }

            */

            $.ajax({
            type: 'GET',
            url:'head_to_head.php',
            contentType: "application/json",
            dataType: 'json',
            success: function(json) {
               var d1 = json['data1'];
               var d2 = json['data2'];

               //console.log(d1[12].Time + " " + d1[12].Milliseconds);
               //console.log(d2[12].Time + " " + d2[12].Milliseconds);

               var razlikaDolzine;
               var plusMinus;
               var velikostManjse;

              //če je prvi array krajši od drugega
               if(d1.length > d2.length){
                velikostManjse = d2.length;
                razlikaDolzine = d1.length - d2.length;
                //sprehod čez krajšega
                for(var i=0; i<d2.length; i++){
                  if(Number(d1[i].Milliseconds) < Number(d2[i].Milliseconds)){
                    plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds) / 1000;
                    $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:red;">' + d2[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                  }else if(Number(d1[i].Milliseconds) > Number(d2[i].Milliseconds)){
                      plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds)/1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:red;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }else{
                      plusMinus = (Number(d1[i].Milliseconds) - Number(d2[i].Milliseconds)) / 1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }


                }
                //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                  $('#head_to_head').append('<tr><td>'+d1[j].Lap+'</td><td style="color:green;">' + d1[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                }

               }else if(d1.length < d2.length){
                velikostManjse = d1.length;
                razlikaDolzine = d2.length - d1.length;
                //sprehod čez krajšega
                for(var i=0; i<d1.length; i++){
                  if(Number(d1[i].Milliseconds) < Number(d2[i].Milliseconds)){
                    plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds) / 1000;
                    $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:red;">' + d2[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                  }else if(Number(d1[i].Milliseconds) > Number(d2[i].Milliseconds)){
                      plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds)/1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:red;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }else{
                      plusMinus = (Number(d1[i].Milliseconds) - Number(d2[i].Milliseconds)) / 1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }


                }
                //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                  $('#head_to_head').append('<tr><td>'+d2[j].Lap+'</td><td>' +'- - -'+ '</td><td style="color:green;">' + d2[j].Time+ '</td><td>'+'- -'+'</td></tr>');
                }

               }else{
                  velikostManjse = d2.length;
                razlikaDolzine = d1.length - d2.length;
                //sprehod čez krajšega
                for(var i=0; i<d2.length; i++){
                  if(Number(d1[i].Milliseconds) < Number(d2[i].Milliseconds)){
                    plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds) / 1000;
                    $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:red;">' + d2[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                  }else if(Number(d1[i].Milliseconds) > Number(d2[i].Milliseconds)){
                      plusMinus = (d1[i].Milliseconds - d2[i].Milliseconds)/1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:red;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }else{
                      plusMinus = (Number(d1[i].Milliseconds) - Number(d2[i].Milliseconds)) / 1000;
                      $('#head_to_head').append('<tr><td>'+d1[i].Lap+'</td><td style="color:green;">' + d1[i].Time+ '</td><td style="color:green;">' + d2[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }


                }
                //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                  $('#head_to_head').append('<tr><td>'+d1[j].Lap+'</td><td style="color:green;">' + d1[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                }

               }
                 },error: function(e) {
                    console.log(e.message);
              }
          })

            //fastests laps all 


        )

        $('#driver1').on('change', function(){
              driver1 = $('#driver1').val();
              driver2 = $('#driver2').val();
              season = $('#select_season').val();
              race = $('#select_race').val();

              /*
              console.log(driver1);
              console.log(driver2);
              console.log(season);
              console.log(race);
              */

              $.ajax({
              type: 'GET',
              url:'head_to_head_select_driver.php',
              data: {driver1: driver1, driver2: driver2, season: season, race: race},
              contentType: "application/json",
              dataType: 'json',
              success: function(json) {
                data2 = json['laptimes1'];
                data3 = json['laptimes2'];

                console.log(data2.length);
                console.log(data3.length);
                
                //console.log(d1.length);
                //console.log(d2.length);
                $('#head_to_head').empty();
                var razlikaDolzine;
                 var plusMinus;
                 var velikostManjse;

                //če je prvi array krajši od drugega
                 if(data2.length > data3.length){
                  velikostManjse = data3.length;
                  razlikaDolzine = data2.length - data3.length;
                  //sprehod čez krajšega
                  for(var i=0; i<data3.length; i++){
                    if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                      plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                      console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                      console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                      $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                    }
                    if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                        plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                        $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                    }
                    if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                        plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                        $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                    }


                  }
                  //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                  for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                    $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                  }

                 }else if(data2.length < data3.length){
                      velikostManjse = data2.length;
                      razlikaDolzine = data3.length - data2.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                        $('#head_to_head').append('<tr><td>'+data3[j].Lap+'</td><td>' +'- - -'+ '</td><td style="color:green;">' + data3[j].Time+ '</td><td>'+'- -'+'</td></tr>')
                      }

                 }else{
                      velikostManjse = data2.length;
                      razlikaDolzine = data2.length - data3.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                        $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                      }

                 

                 }

              }
              });




            });

            $('#driver2').on('change', function(){
              driver1 = $('driver1').val();
              driver2 = $('driver2').val();
              //console.log("driver2");
            });
            


        

    });
    
    function getRaces(){

          race = $('#select_race').val();
          season = $("#select_season").val();

                   
          $('#table_fastest_laps').empty();
          $('#fastest_laps_chart').empty();
          $('#table_pit_stops').empty();
          $('#pit_stops_chart').empty();
            

            var races = [];

            $.when(
            $.ajax({
            type: 'GET',
            url:'http://ergast.com/api/f1/'+season+'.json?limit=2500&callback=JSON_CALLBACK',
            async: false,
            jsonpCallback: 'jsonCallback',
            contentType: "application/json",
            dataType: 'jsonp',
            success: function(json) {
                var data = json.MRData.RaceTable.Races;
                //console.log(data.length);
                for(var i = 0; i<data.length; i++ ){
                    races.push(
                    {
                        'round' : data[i].round,
                        'raceName' : data[i].raceName
                    }
                        );
                }  
                
                $("#select_race").empty();
                for(var j = 0; j<races.length; j++){
                    $('#select_race').append($(
                           '<option>', {
                                value:  races[j].round,
                                text:  races[j].raceName
                            }
                        ));
                } 

                
             } 
            }),

            $.ajax({
            type: 'GET',
            url:'fastest_laps_param.php',
            contentType: "application/json",
            data: {round: race, year : season},
            dataType: 'json',
            success: function(json) {
                data = json;
                var chartData = [];
                //console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_fastest_laps').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Position + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Time + "</td>"  +"</tr>");
                  var driver = {
                    driverName: data[i].FirstName + " " + data[i].LastName,
                    driverLastName : data[i].LastName,
                    time: data[i].Time,
                    milliseconds: data[i].Milliseconds,
                    code: data[i].Code
                  };
                  chartData.push(driver);
                }
                  
                  
                  //graf fastest laps
                   // CHART
                   AmCharts.makeChart("fastest_laps_chart",
                {
                  "type": "serial",
                  "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
                  "categoryField": "code",
                  "startDuration": 5,
                  "theme": "light",
                  "categoryAxis": {
                    "gridPosition": "start"
                  },
                  "trendLines": [],
                  "graphs": [
                    {
                      "balloonText": "[[driverName]]: [[time]]",
                      "bullet": "round",
                      "id": "AmGraph-1",
                      "title": "",
                      "valueField": "milliseconds"
                    }
                  ],
                  "guides": [],
                  "valueAxes": [
                    {
                      "id": "ValueAxis-1",
                      "title": "Time (ms)"
                    }
                  ],
                  "allLabels": [],
                  "balloon": {},
                  "legend": {
                    "useGraphSettings": true
                  },
                  "titles": [
                    {
                      "id": "Title-1",
                      "size": 15,
                      "text": "Fastest laps"
                    }
                  ],
                  "dataProvider": chartData
                }
              );
                   
             
                
                },error: function(e) {
                    console.log(e.message);
              }
          }),

           $.ajax({
            type: 'GET',
            url:'pit_stops.php',
            contentType: "application/json",
            dataType: 'json',
            success: function(json) {
                data = json;
                var dataChart = [];
               // console.log(data[0].FirstName);
                for(var i=0; i<data.length; i++){
                  $('#table_pit_stops').append('<tr>' + '<td style="vertical-align:middle">'+(i+1)+'.'+'<td style="vertical-align:middle">' + data[i].FirstName + " " + data[i].LastName + "</td>" + '<td style="vertical-align:middle">' + data[i].Stop + "</td>" + '<td style="vertical-align:middle">' + data[i].Lap+ "</td>" + '<td style="vertical-align:middle">' + data[i].Duration + "</td>"  +"</tr>");

                  var driver = {
                    driverName : data[i].FirstName + " " + data[i].LastName,
                    duration : data[i].Duration,
                    code : data[i].Code,
                    driverLastName : data[i].LastName,
                    stop : data[i].Stop
                  };

                  dataChart.push(driver);

                }


                //chart, pit Stops
                 AmCharts.makeChart("pit_stops_chart",
            {
              "type": "serial",
              "pathToImages": "http://cdn.amcharts.com/lib/3/images/",
              "categoryField": "code",
              "startDuration": 5,
              "categoryAxis": {
                "gridPosition": "start"
              },
              "trendLines": [],
              "graphs": [
                {
                  "balloonText": "[[driverName]]: [[duration]] sec.",
                  "fillAlphas": 1,
                  "id": "Fastest pit",
                  "title": "Fastest pit stop",
                  "type": "column",
                  "valueField": "duration"
                },
                {
                  "balloonText": "[[driverName]]: [[stop]]",
                  "fillAlphas": 1,
                  "id": "AmGraph-2",
                  "title": "Number of pit stops",
                  "type": "column",
                  "valueField": "stop"
                }
              ],
              "guides": [],
              "valueAxes": [
                {
                  "id": "ValueAxis-1",
                  "title": "Duration (sec)"
                }
              ],
              "allLabels": [],
              "balloon": {},
              "legend": {
                "useGraphSettings": true
              },
              "titles": [
                {
                  "id": "Title-1",
                  "size": 15,
                  "text": "Pit stops"
                }
              ],
              "dataProvider": dataChart
            }
          );
          
              
               
             },error: function(e) {
                    console.log(e.message);
              }

                

            }),

            //ob izbiri sezone, poišče dirkače za to sezono in dirko ter napolni tabelo HEAD TO HEAD
            $.ajax({
            type: 'GET',
            url:'head_to_head_select_year.php',
            contentType: "application/json",
            data: {season : season, round: race},
            dataType: 'json',
            success: function(json) {
                data1 = json['drivers'];
                data2 = json['laptimes1'];
                data3 = json['laptimes2'];
                console.log(data2.length + " " + data2[0].Milliseconds);
                console.log(data3.length + " " + data3[0].Milliseconds);
                
                
                $('#driver1').empty();
                $('#driver2').empty();

                for(var k = 0; k<data1.length; k++){
                $('#driver1').append(
                    $('<option>',{
                      value : data1[k].driverId,
                      text : data1[k].FirstName + " " + data1[k].LastName
                      }
                      )
                  );
              }

                for(var h = data1.length-1; h>=0; h-- ){
                  $('#driver2').append(
                      $('<option>',{
                        value : data1[h].driverId,
                        text : data1[h].FirstName + " " + data1[h].LastName
                        }
                        )
                    );
                }


              $('#head_to_head').empty();
              
               var razlikaDolzine;
               var plusMinus;
               var velikostManjse;

              //če je prvi array krajši od drugega
               if(data2.length > data3.length){
                velikostManjse = data3.length;
                razlikaDolzine = data2.length - data3.length;
                //sprehod čez krajšega
                for(var i=0; i<data3.length; i++){
                  if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                    plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                    console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                    console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                    $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                  }
                  if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                      plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                      $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }
                  if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                      plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                      $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                  }


                }
                //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                  $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                }

               }else if(data2.length < data3.length){
                velikostManjse = data2.length;
                      razlikaDolzine = data3.length - data2.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                        $('#head_to_head').append('<tr><td>'+data3[j].Lap+'</td><td>' +'- - -'+ '</td><td style="color:green;">' + data3[j].Time+ '</td><td>'+'- -'+'</td></tr>');
                      }

               }else{
                  velikostManjse = data2.length;
                      razlikaDolzine = data2.length - data3.length;
                      //sprehod čez krajšega
                      for(var i=0; i<data2.length; i++){
                        if(Number(data2[i].Milliseconds) < Number(data3[i].Milliseconds)){
                          plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                          console.log(data2[0].Milliseconds < data3[0].Milliseconds);
                          console.log(data2[0].Milliseconds + " " +  data3[0].Milliseconds);
                          $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:red;">' + data3[i].Time+ '</td><td style="color:green;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) > Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds)/1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:red;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }
                        if(Number(data2[i].Milliseconds) == Number(data3[i].Milliseconds)){
                            plusMinus = (data2[i].Milliseconds - data3[i].Milliseconds) / 1000;
                            $('#head_to_head').append('<tr><td>'+data2[i].Lap+'</td><td style="color:green;">' + data2[i].Time+ '</td><td style="color:green;">' + data3[i].Time+ '</td><td style="color:red;">'+plusMinus+'</td></tr>')
                        }


                      }
                      //sprehod čed daljšega, od zadnjega krajšega naprej do zadnjega v daljšem
                      for(var j=velikostManjse; j<=(velikostManjse+razlikaDolzine)-1; j++){
                        $('#head_to_head').append('<tr><td>'+data2[j].Lap+'</td><td style="color:green;">' + data2[j].Time+ '</td><td>' + '- - -'+ '</td><td>'+'- -'+'</td></tr>')
                      }

               }
                
                

                
              
               
             },error: function(e) {
                    console.log(e.message);
              }

                

            })

            
          )   
                
    }

</script>
